<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <meta charset="UTF-8">
 <title>Edycja projektu</title>
 <link th:href="@{/css/edit-style.css}" rel="stylesheet"/>
</head>

<body>

<div class="topbar">
 <h2>System zarządzania projektami</h2>

 <form th:action="@{/logout}" method="post">
  <button class="logout-btn" type="submit">Wyloguj</button>
 </form>
</div>

<div class="root"
     th:with="isDelete=${#strings.equalsIgnoreCase(param.delete,'true')}">

 <form th:action="@{/projektEdit}"
       th:object="${projekt}"
       method="POST"

       th:with="
          akcja=*{projektId} ? (${isDelete}?'delete':'update') :'create',
          opis=*{projektId} ? (${isDelete}?'Usuń':'Aktualizuj') : 'Utwórz'"

       autocomplete="off">

  <div class="card">

   <h1 th:text="${opis} + ' projekt'">Edytuj projekt</h1>

   <div class="err-box" th:if="${#fields.hasErrors('*')}">
    <strong>Błędy formularza:</strong>

    <ul>
     <li th:each="err : ${#fields.errors('*')}"
         th:text="${err}">
      Błąd
     </li>
    </ul>
   </div>

   <div class="form-group" th:if="*{projektId}">
    <label>ID projektu</label>
    <input th:field="*{projektId}" readonly/>
   </div>

   <div class="form-group">
    <label>Nazwa projektu</label>

    <input th:field="*{nazwa}"
           th:class="${#fields.hasErrors('nazwa')} ? 'input-error' : ''"/>

    <span class="field-error"
          th:if="${#fields.hasErrors('nazwa')}"
          th:errors="*{nazwa}">
                </span>
   </div>

   <div class="form-group">
    <label>Opis projektu</label>
    <textarea rows="5"
              th:field="*{opis}"></textarea>
   </div>

   <div class="form-group">
    <label>Data oddania</label>

    <input type="date"
           th:field="*{dataOddania}"/>
   </div>

   <div class="form-group" th:if="*{dataCzasUtworzenia}">
    <label>Data utworzenia</label>
    <input th:field="*{dataCzasUtworzenia}" readonly/>
   </div>

   <div class="form-group" th:if="*{dataCzasModyfikacji}">
    <label>Data modyfikacji</label>
    <input th:field="*{dataCzasModyfikacji}" readonly/>
   </div>

   <div class="buttons">

    <button class="save-btn"
            type="submit"
            th:name="${akcja}"
            th:text="${opis}">
    </button>

    <button class="cancel-btn"
            type="submit"
            name="cancel">
     Anuluj
    </button>

   </div>

  </div>
 </form>
</div>

</body>
</html>