<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>

    <link th:href="@{/css/auth-style.css}" rel="stylesheet"/>
</head>

<body>

<div class="auth-container">

    <div class="auth-card register-card">

        <h1>Rejestracja</h1>

        <form th:action="@{/register}" method="post">

            <div class="form-group">

                <label>Imię</label>

                <input type="text"
                       name="imie"
                       required
                       minlength="2"
                       maxlength="40"/>

            </div>

            <div class="form-group">

                <label>Nazwisko</label>

                <input type="text"
                       name="nazwisko"
                       required
                       minlength="2"
                       maxlength="60"/>

            </div>

            <div class="form-group">

                <label>Numer indeksu</label>

                <input type="text"
                       name="nrIndeksu"
                       required
                       pattern="[0-9]{6}"/>

            </div>

            <div class="form-group">

                <label>Forma studiów</label>

                <select name="formaStudiow" required>

                    <option value="">
                        Wybierz
                    </option>

                    <option value="STACJONARNE">
                        Stacjonarne
                    </option>

                    <option value="NIESTACJONARNE">
                        Niestacjonarne
                    </option>

                </select>

            </div>

            <div class="form-group">

                <label>E-mail</label>

                <input type="email"
                       name="email"
                       value="login@pbs.edu.pl"
                       required
                       pattern="^[A-Za-z0-9+_.-]+@pbs.edu.pl$"/>

            </div>

            <div class="form-group">

                <label>Hasło</label>

                <input type="password"
                       name="password"
                       required
                       minlength="6"/>

            </div>

            <button class="primary-btn" type="submit">
                Zarejestruj się
            </button>

        </form>

        <div class="bottom-link">

            <p>Masz już konto?</p>

            <a th:href="@{/login}">
                Wróć do logowania
            </a>

        </div>

    </div>

</div>

</body>
</html>